<div class="centered top-margined">
  Also consider <a href="http://antipattern.io" target="new" class='red'>Antipattern.io</a> a code-review and communication feedback engine also written by <a href="http://startuplandia.io" target="new" class='red'>John Davison.</a>
</div>
