<span class='signup-copy'>< join the community for other content and learning events ></span>
<form action="http://community.startuplandia.io/members" method="post" id="member" name="member" class="validate" target="_blank" >
  <input type="email" value="" name="email" class="required email" id="email" placeholder="majortom@groundcontrol.com" required>
  <input type="hidden" value="toeatapp.startuplandia.io" name="source">
  <input type="submit" value="GO" class="btn btn-default subscribe">
</form>
